.angular-float-labels-wrapper {
  position: relative;
}
.angular-float-labels-label {
  position: absolute;
  left: 14px;
  top: -17px;
  font-variant: small-caps;
  text-transform: lowercase;
  display: none;
  color: #ccc;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
}
.angular-float-labels-element {
  padding: 10px;
}

.angular-float-labels-label.toggled {
  display: block;
}
.angular-float-labels-label.toggled + .angular-float-labels-element {
  padding-top: 15px;
  padding-bottom: 5px;
}


.angular-float-labels-label.focused {
  color: green;
}
.angular-float-labels-label, .angular-float-labels-element {
  font-size: 16px;
  font-family: 'Arial';
}
